[alias]
	amend = commit --amend
	graph = log --graph --date=short
	changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
	changelog = log --pretty=format:\" * %s\"
	unstage = reset HEAD
	uncommit = reset --soft HEAD^
[branch]
	autosetuprebase = always
[core]
	autocrlf = false
	editor = vim
	deltaBaseCacheLimit = 1G
[push]
	default = tracking
[rerere]
	enabled = true
[ui]
	color = true
[user]
	name = Petr Hosek
	email = petrhosek@gmail.com
[color]
	ui = auto
